<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>delivr</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="/static/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/static/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container-scroller">
    <!-- partial:partials/_sidebar.html -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
            <a class="sidebar-brand brand-logo" href="index.html">
                <!--            <img src="/static/images/logo.png" alt="logo" />-->
                <h2 style="color: white;">delivr CDN</h2>
            </a>
            <a class="sidebar-brand brand-logo-mini" href="index.html">
                <img src="/static/images/logo-mini.svg" alt="logo"/>
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item profile">
                <div class="profile-desc">
                    <div class="profile-pic">
                        <div class="profile-name">
                            <h5 class="mb-0 font-weight-normal">{{ name }}</h5>
                            <span>{{ provider }} CDN powered by delivr</span>
                        </div>
                    </div>
                    <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                    <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                        <a href="/settings" class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-settings text-primary"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject ellipsis mb-1 text-small">Settings</p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="/help" class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-help text-info"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                            </div>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="/logout" class="dropdown-item preview-item">
                            <div class="preview-thumbnail">
                                <div class="preview-icon bg-dark rounded-circle">
                                    <i class="mdi mdi-logout text-danger"></i>
                                </div>
                            </div>
                            <div class="preview-item-content">
                                <p class="preview-subject ellipsis mb-1 text-small">Log out</p>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
            <li class="nav-item nav-category">
<!--                <span class="nav-link">Navigation</span>-->
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/">
              <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span>
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/zones">
              <span class="menu-icon">
                <i class="mdi mdi-dns"></i>
              </span>
                    <span class="menu-title">Zones</span>
                </a>
            </li>
            <li class="nav-item menu-items">
                <a class="nav-link" href="/new">
              <span class="menu-icon">
                <i class="mdi mdi-plus"></i>
              </span>
                    <span class="menu-title">New Zone</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
            <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/static/images/logo-mini.svg" alt="logo"/></a>
            </div>
            <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown d-none d-lg-block">
                        <a class="nav-link btn btn-success create-new-button" id="createbuttonDropdown" data-toggle="dropdown" aria-expanded="false" href="#">+ Create</a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="createbuttonDropdown">
                            <!--                            <h6 class="p-3 mb-0">Create</h6>-->
                            <!--                            <div class="dropdown-divider"></div>-->
                            <a class="dropdown-item preview-item" href="/new">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-arrow-right text-primary"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1">Zone</p>
                                </div>
                            </a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-file-outline text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject ellipsis mb-1">Record</p>
                                </div>
                            </a>

                            <!--                            <div class="dropdown-divider"></div>-->
                            <!--                            <p class="p-3 mb-0 text-center"><a href="/help">More information</a></p>-->
                        </div>
                    </li>
                    <!--                    <li class="nav-item nav-settings d-none d-lg-block">-->
                    <!--                        <a class="nav-link" href="#">-->
                    <!--                            <i class="mdi mdi-view-grid"></i>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <li class="nav-item dropdown border-left">
                        <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                            <div class="navbar-profile">
                                <i class="mdi mdi-account"></i>
                                <p class="mb-0 d-none d-sm-block navbar-profile-name">{{ name }}</p>
                                <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                            <h6 class="p-3 mb-0">Profile</h6>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item" href="/settings">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-settings text-primary"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Settings</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item" href="/help">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-help text-info"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Help</p>
                                </div>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item preview-item" href="/logout">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-dark rounded-circle">
                                        <i class="mdi mdi-logout text-danger"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <p class="preview-subject mb-1">Log out</p>
                                </div>
                            </a>
                            <!--                            <div class="dropdown-divider"></div>-->
                            <!--                            <p class="p-3 mb-0 text-center">Advanced settings</p>-->
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="mdi mdi-format-line-spacing"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="page-header">
                    <h3 class="page-title">Records for {{ zone["zone"] }}</h3>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ zone["zone"] }}</li>
                        </ol>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">New Record</h4>
                                <form class="forms-sample" method="post">
                                    <div class="form-group">
                                        <label for="domain-entry">Domain</label>
                                        <input type="text" class="form-control" id="domain-entry" name="domain">
                                    </div>
                                    <div class="form-group">
                                        <label for="type-selector">Type</label>
                                        <select class="form-control" id="type-selector" name="type">
                                            <option value="A">A</option>
                                            <option value="AAAA">AAAA</option>
                                            <option value="CNAME">CNAME</option>
                                            <option value="SRV">SRV</option>
                                            <option value="PTR">PTR</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="ttl-entry">TTL</label>
                                        <input type="number" class="form-control" id="ttl-entry" name="ttl" value="86400">
                                    </div>
                                    <div class="form-group">
                                        <label for="value-entry">Value</label>
                                        <p class="card-description">Record values should be in BIND format in a single line</p>
                                        <textarea class="form-control" id="value-entry" rows="4" name="value"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                    <button class="btn btn-dark" onclick="location.reload()">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row justify-content-between">
                                    <h4 class="card-title mb-1">Records</h4>
                                    <!--                                    <p class="text-muted mb-1"><a href="#">Add a new zone</a></p>-->
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="preview-list">
                                            {% for record in zone["records"] %}
                                            <div class="preview-item border-bottom">
                                                <div class="preview-item-content d-sm-flex flex-grow">
                                                    <div class="flex-grow">
                                                        <h6 class="preview-subject"><span style="margin-right: 10px" class="badge badge-outline-secondary">{{ record["type"] }}</span>{{ record["domain"] }}<span style="padding-left: 10px" class="text-muted mb-0">{{ record["value"] }}</span></h6>
                                                    </div>
                                                    <div class="mr-auto text-sm-right pt-2 pt-sm-0">
                                                        <button type="button" class="btn btn-danger btn-fw" onclick="window.location+='/delete/{{ loop.index - 1 }}'">Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Powered by <a href="https://delivr.dev/">delivr</a>. Template by <a href="https://www.bootstrapdash.com/" target="_blank">BootstrapDash</a>.</span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- plugins:js -->
<script src="/static/vendors/js/vendor.bundle.base.js"></script>
</body>
</html>